<article>
  <form id="recoveryForm" method="post">
    <h1>Ingrese su nueva contraseña</h1>

    <input
      id="password"
      type="password"
      name="password"
      placeholder="Contraseña"
      required
    />

    <input type="submit" value="Cambiar mi contraseña" />
  </form>
</article>

<script src="/js/createPassword.js"></script>