<article>
  <form action="/api/sessions/register" method="post">
    <h1>Registro</h1>

    <input
      type="text"
      name="first_name"
      placeholder="Ingrese su Nombre"
      required
    />
    <input
      type="text"
      name="last_name"
      placeholder="Ingrese su Apellido"
      required
    />

    <input type="email" name="email" placeholder="Ingrese su Email" required />

    <input
      type="password"
      name="password"
      placeholder="Ingrese su contraseña"
      required
    />

    <input type="number" name="age" placeholder="Ingrese su Edad" />

    <input type="submit" value="Registrarme" />

    <a href="/">Ya tienes cuenta? Inicia sesion aqui</a>
  </form>
</article>